html {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-pos {
    display: flex;
    align-items: center;
}
.header {
  display: flex;
  align-items: center;
  padding: 40px 0;
  max-width: 1540px;
  background: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(53, 74, 90, 0.87)), url(../images/header-bg.jpg);
  background-size: cover;
  border-bottom: 3px solid #FFF;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  column-gap: 38px;
  margin-left: 168px;
}

.header-button {
  display: block;
  margin-left: auto;
  width: 140px;
  color: #26C6EA;
  font-size: 20px;
  font-family: HeadlandOne;
  font-weight: 400;
  background: #0B0E66;
  border: #26C7EA solid 3px;
  border-radius: 45px 0px;
  padding: 9px 37px;
  cursor: pointer;
}
.nav-item-link {
  display: block;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 300;
  width: 78px;
  text-align: center;
  width: 84px;
  
}
.lang-box {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  margin-right: 50px;
}
.lang-inf {
  color: #FFF;
  font-family: Hammersmith One;
  font-size: 16px;
  font-weight: 400;
}

.nav-item-link:hover {
  color: #94CFFF;
}

.container {
  width: 1037px;
  margin: 0 auto;
  padding: 0 15px;
}

.check {
  position: relative;
  border: 2px solid var(--text-color);
  line-height: 0;
  font-size: 25px;
  /* margin: 0 10px; */
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after {
  appearance: none;
  display: inline-block;
  font-size: inherit;
  border-radius: 1em;
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.check {
  appearance: none;
  display: inline-block;
  border-radius: 1em;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.check label {
  width: 36px;
  height: 20px;
  background: transparent;
  overflow: hidden;
  border: #FFF solid 2px;
}

.check input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: 11px;
  height: 11px;
  top: 0.2em;
  left: 0.22em;
  background: #fff;
  outline: none;
}

.check input[type="checkbox"]:checked {
  left: 0.8em;
}

/* .check input[type="checkbox"]:checked + label {
  background: rgb(48, 87, 255);
} */

.check label::before,
.check label::after {
  content: "· ·";
  position: absolute;
  overflow: hidden;
  left: 0.5em;
  top: 0.5em;
  height: 1em;
  letter-spacing: -0.04em;
  color: #9b9b9b;
  font-family: "Times New Roman", serif;
  z-index: 2;
  font-size: 0.6em;
  border-radius: 0;
  transform-origin: 0 0 -0.5em;
  backface-visibility: hidden;
}

.check label::after {
  content: "?";
  top: 0.65em;
  left: 0.6em;
  height: 0.1em;
  width: 0.35em;
  font-size: 0.2em;
  transform-origin: 0 0 -0.4em;
}

.check input[type="checkbox"]:checked + label::before,
.check input[type="checkbox"]:checked + label::after {
  left: 2.55em;
  top: 0.4em;
  line-height: 0.1em;
  transform: rotateY(360deg);
}

.check input[type="checkbox"]:checked + label::after {
  height: 0.16em;
  top: 0.55em;
  left: 2.6em;
  font-size: 0.6em;
  line-height: 0;
}


.hero {
  height: 740px;
  background: url(../images/hero-bg.jpg);
  background-size: cover;
}
.hero-text {
  width: 298px;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.hero-text:nth-child(1) {
  padding-top: 180px;
}
.hero-arrow {
  margin-left: 70px;
}
.hero-button {
  width: 260px;
  color: #26C6EA;
  font-size: 24px;
  font-family: HeadlandOne;
  font-weight: 400;
  background: #0B0E66;
  border: #26C7EA solid 3px;
  border-radius: 45px 0px;
  padding: 25px 74px;
  margin-top: 42px;
  cursor: pointer;
}
.icons-box {
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero-icons {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.words {
  height: 350px;
}
.words-heading {
  color: #0A3853;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  margin-top: 75px;
}
.words-author {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  margin-top: 16px;
}
.end-box {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.trailer {
  display: grid;
  height: 741px;
  background: url(../images/trailer-bg.jpg);
  background-size: cover;
  align-items: center;
  text-align: center;
}
.trailer-button {
  width: 260px;
  height: 80px;
  color: #26C6EA;
  font-size: 24px;
  font-family: HeadlandOne;
  font-weight: 400;
  background: #0B0E66;
  border: #26C7EA solid 3px;
  border-radius: 45px 0px; 
  padding-left: 17px;
  padding-right: 18px;
  margin-top: 42px;
  cursor: pointer;
}

.second-words {
  color: #141414;
}
.language {
  height: 704px;
  background: url(../images/lang-bg.jpg);
  background-size: cover;
  padding-top: 58px;
  
}
.lang-heading {
  color: #141414;
  font-family: HeadlandOne;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}
.lang-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 34px;
  column-count: 3;
  margin-top: 45px;
}
.lang-card {
  display: flex;
  width: 311px;
  height: 240px;
  background: rgba(255, 255, 255, 0.70);
  align-items: center;
  flex-direction: column;
}
.right-arrow {
  transform: rotate(180deg);
}
.card-bird {
  width: 152px;
}
.card-text {
  color: #141414;
  text-align: center;
  font-family: HeadlandOne;
  font-size: 24px;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 36px;
}
.footer-pos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(53, 74, 90, 0.87)), url(../images/header-bg.jpg);
  background-size: cover;
  max-width: 1540px;
  padding-top: 35px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.footer .logo {
  margin-right: 80px;
}
.logo-wrap::after {
  content: "";
  background-color: #FFF;
  display: block;
  height: 153px;
  width: 2px;
}
.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-item {
  display: flex;
  align-items: center;
}
.email-item:nth-child(1) {
  margin-bottom: 16px;
}
.coop {
  min-width: 796px;
}
.email-title {
  color: #FFF;
  margin-right: 20px;
  padding-left: 80px;
  font-weight: 400;
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.email-link {
  margin-left: 20px;
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.copy {
  margin-left: 430px;
  color: #FFF;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}